mixin head
    -
      var content = 'width=device-width, initial-scale=1.0,' + 
                    'maximum-scale=1.0, user-scalable=no'
    meta(charset='UTF-8')
    meta(name='viewport', content=content)

mixin app_head(appName)
    title= appName[0].toUpperCase() + appName.slice(1)
    +head
    - var iconPath = './resources/icons/' + appName + '-precomposed.png'
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='apple-touch-icon-precomposed', href=iconPath)
    link(rel='icon', href=iconPath)
    link(rel='stylesheet', type='text/css', href='./css/normalize.css')
    link(rel='stylesheet', type='text/css', href='./css/' + appName + '.css')
    script(src='./js/core_libs.js')
    script(src='./js/' + appName + '.js')
